// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Font-Awesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

.text-lg{
    font-size: 2rem;
}

body{
    height: 100%;
    background-color: #fff;
}

.card{

    &-fixed-w{
        width: 400px;
        max-width: 100%;
    }

    &-detail{
        background-color: #f2f2f2;
    }
}

@media (max-width: 991.98px){
    .home-container{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: url('/images/queue-concept-illustration/2942529.jpg');
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: left bottom;
    }
}

@media (min-width: 992px){
    .home-container{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: url('/images/queue-concept-illustration/2942529.jpg');
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: center top;
    }
}
